body{
  background-color: black;
}

h2, h3{
  margin: 2%;
  color: white;
}

input, button{
  margin-left: 2%;
}

#Movie{
 color: white;
}

.movieList{
  display: flex;
  gap: 8em;
  /* border: 2px solid white; */
}

#pro{
  border: 1px solid white;
  margin-left: 1%;
  padding: 2%;
}

li{
  list-style: none;
}

#more{
  margin-left: 13%;
}